/* CONTAINERS */

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
}

.chart-div {
  display: flex;
  margin: auto;
  width: fit-content;
}

.caption {
  color: grey;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.recharts-wrapper, table {
  margin: auto;
}

/* TABLE */

table, th, td {
  border: 1px solid black;
  font-size: 0.8rem;
}

table {
  border-collapse: collapse;
  margin-top: 3rem;
}

th.index {
  font-weight: 500;
}

th, td {
  padding: 3px 5px;
}

input {
  background-color: rgba(255, 255, 255, 0) !important;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  width: 2.4vw;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid rgb(100, 100, 100);
}

.cac40 {
  background-color: #d4d2eb;
}

.nasdaq {
  background-color: #d1eddd;
}


/* TITLE */

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}
